{% extends "base.html" %}
{% block header %}
    <h1>Crear Usuario</h1>
{% endblock %}
{% block content %}
    <div class="container">
        {{error}}
        <form action="/usuarios/create/" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{form}}
            <button class='btn btn-success'>
                <i class="fas fa-check"></i>
            </button>
            <a href="/usuarios" class="btn btn-danger">
                <i class="fas fa-times"></i>
            </a>
        </form>
    </div>
{% endblock %}