{% extends "base.html" %}
{% block header %}
    <h1>Crear Producto</h1>
{% endblock %}
{% block content %}
    <div class="container">
        {{error}}

        <form action="/productos/create/" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{form.as_p}}
            <button class='btn btn-success'>
                <i class="fas fa-check"></i>
            </button>
            <a href="/productos/" class="btn btn-danger">
                <i class="fas fa-times"></i>
            </a>
        </form>
    </div>
{% endblock %}